.mocktestmaincontainer{
  padding: 8% 6% 0 6%;
}
.mocktestHeading{
  color: #05B97D;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.showtests{
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-bottom: 5%;
}
.startbtn{
  display: flex;
  gap:10px;
  background-color: #059BB9;
  border-radius: 10px;
  font-size: 13px;
  color: #ffffff;
  justify-content: center;
  width: fit-content;
  padding: 5px;
}
.testContainer{
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 48%;
}
.testContainer:hover{
  background-color: #f5f5f5;
}
.testName{
  font-size: 18px;
  font-weight: 500;
}
.noofques{
  font-size: 12px;
  margin-top: 8px;
}
.testsContainer{
  padding: 0 12% 0 14%;
}
.badges{
  display: flex;
  gap: 10px;
  background-color: #05B97D;
  border-radius: 10px;
  font-size: 13px;
  color: #ffffff;
  justify-content: center;
  width: fit-content;
  padding: 5px;
}
@media (max-width: 768px) {
  .mocktestHeading {
    font-size: 24px; 
  }

  .testsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .showtests {
    gap: 20px;
  }

  .testContainer {
    width: 100%; 
    padding: 15px;
  }

  .testName {
    font-size: 16px;
  }

  .badges {
    font-size: 12px; 
    width: 60px;
  }

  .noofques {
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .mocktestHeading {
    font-size: 26px;
  }

  .testContainer {
    width: 100%;
  }
}