.testPage{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  position: relative;
}
.test-sidebar{
  height: 100%;
  padding: 20px;
  width: 260px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 30px;
}
.test-header{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  padding-top: 0px;
  background-color: #ffffff;
  padding-left: 350px;
}
.test-header h1{
  color: #05B97D;
  font-size: 27px;
  padding-top: 0px;
  /* position: fixed; */
}
.test-header2{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-left: 350px;
  padding-bottom: 20px;
  /* position: fixed; */
}

.selected-subject{
  padding: 30px;
  color: #05B97D;
  font-size: 22px;
}
#time-tag{
  position: fixed;
  top: 20px;
  right: 40px;
}
.test-container{
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
}
.test-body{
  display:flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 30px;
  padding-left: 400px;
  padding-top: 50px;
  height: 76vh;
  overflow-y: auto;
  scrollbar-width: none;
  /* padding-top: 150px; */
}
.test-body h1{
  font-size: 20px;
}
.test-body h2{
  font-size: 19px;
  font-weight: 400;
}
.test-options{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.test-option{
  display: flex;
  gap: 15px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 15px;
  transition: background-color box-shadow 0.3s;
}
.test-option:hover{
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(5, 185, 125, 0.5);
  transition: background-color box-shadow 0.3s;
}
#test-nav-btn{
  border-radius: 7px;
}
#test-nav-btn1{
  border-radius: 7px;
  width: 50px;
}
.test-disabled{
  background-color: #ffffff;
  color: #05B97D;
}
.test-opt-enabled{
  box-shadow: 0 5px 10px rgba(5, 185, 125, 0.5);
}
.test-opt-enabled p{
  color: #05B97D;
}
.test-sidebar2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  width: 350px;
  position: fixed;
  left : 0;
  z-index: 1000;
  top: 0;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  
}
#test-buttons{
  display: flex;
  justify-content: flex-end;
}

.submit-container{
  display: flex;
  justify-content: flex-end;
}
#submit-nav-btn{
  border-radius: 7px;
  width: fit-content;
  background-color: rgb(184, 69, 69);
}

#test-submitted{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}

#test-submitted h2{
  font-size: 40px;
  font-weight: 500;
  color: #05B97D
}
.test-question-image{
  width: 60%;
  border-radius: 10px;
}
.not-hero-btn{
  background-color: #ffffff;
  color: #05B97D;
  border: 1px solid #05B97D;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.wrong-answer {
  color: rgb(220, 20, 20);
  box-shadow: 0px 5px 10px rgba(193, 51, 51, 0.5);
}
.correct-answer {
  color: #05B97D;
  box-shadow: 0px 5px 10px rgba(5, 185, 125, 0.5);
}
.correct-highlight {
  color: #05B97D;
  box-shadow: 0px 0px 10px #05B97D;
}
@media (max-width: 768px) {
  .answered_btn2{
    background-color: #05B97D;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;

  }
  .active-btn2{
    background-color: orange;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
  }
  .test-question-image{
    width: 100%;
    border-radius: 10px;
  }
  #time-tag{
    right: 20px;
  }
  .test-options{
    justify-content: center;
    width: 100%;
  }
  .test-body{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    position: relative;
  }
  .test-header{
    padding-left: 0px;
  }
  .test-header2{
    padding-left: 0px;
    gap: 20px;
  }
  .test-sidebar{
    display: none;
  }
  .test-sidebar2{
    display: none;
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .test-open{
    display: flex;
    flex-direction:column;
    align-self: center;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    justify-content: center;
    transition: all 0.5s; 
  }
  .toggle-sidebar-btn {
    position: fixed;
    top: 20px;
    left: 30px;
    z-index: 1001;
    background-color: #05B97D;
    color: white;
    border: none;
    padding: 5px 14px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
  }
  #test-buttons{
    justify-content: center;
  }
  .test-sidebartoopen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5% 18% 30% 18%;
    width: 350px;
    position: relative;
    left : 0;
    z-index: 1000;
    top: 0;
    background-color: #ffffff;
  }
  .colouring{
    background-color: rgb(222, 85, 85);
  }
  .selected-subject{
    font-size: 26px;
    font-weight: 500;
    color: #000000;
  }
}